body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #3498db;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    position: relative;
}

.logo a img {
    max-width: 230px;
    height: auto;
}

.header h1 {
    margin: 0;
    padding: 0 20px;
    flex-grow: 1;
    text-align: center;
    font-size: 40px; /* Adjust based on your preference */
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
}

/* Dropdown Menu */
.dropdown {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Showing the dropdown content */
.dropdown .dropdown-content.show {
    display: block;
}

/* Tab Styles */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

textarea {
    width: 70%; 
    height: 150px; 
}

.uploadFile {
    background-color: #ffffff; 
    color: #000000; 
    text-align: left;
    padding: 30px; 
}

.uploadText {
    background-color: #ffffff; 
    color: #000000; 
    text-align: left;
    padding: 10px; 
    margin-left: 15px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header h1, .dropdown {
        text-align: center;
        padding-top: 10px;
    }

    .dropdown {
        position: static;
        bottom: auto;
        right: auto;
    }
}
