body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #3498db;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    position: relative;
}

.logo a img {
    max-width: 230px;
    height: auto;
}

.header h1 {
    margin: 0;
    padding: 0 20px;
    flex-grow: 1;
    text-align: center;
    font-size: 40px; /* Adjust based on your preference */
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

/* Dropdown Menu */
.dropdown {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Showing the dropdown content */
.dropdown .dropdown-content.show {
    display: block;
}

.login-container {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="email"], input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button[type="submit"]:hover {
  background-color: #2878a9;
}

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: center; /* Centers the items to prevent overlap */
    }

    .logo, .header h1 {
        margin-bottom: 10px; /* Adds space between the logo/title and the dropdown */
    }

    .dropdown {
        position: static; /* Resets position to flow within the flex container */
        width: 100%; /* Full width to accommodate longer text */
        order: 3; /* Ensures dropdown is placed below other elements */
        text-align: center; /* Centers the dropdown button */
    }

    .dropbtn {
        width: 100%; /* Full width button for better accessibility */
    }

    .dropdown-content {
        left: 50%; /* Centers dropdown content */
        transform: translateX(-50%); /* Adjusts horizontal position to truly center it */
        width: 90%; /* Limits width to prevent edge-to-edge stretching */
    }
}

